.logoLink {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 36px;
  font-weight: 600;
  color: #404040;
  letter-spacing: -2px;
  text-decoration: none;

  & span {
    color: #ff7500;
  }
}

.container {
  display: flex;
  align-items: center;
  min-height: 700px;
  margin-bottom: 20px;
  background-image: url(https://www.hotel.info/assets/booking/js/56a5e577b9fcc8523547287a16226865.jpg);
  background-size: cover;

  & .filter {
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: #404040;

    & .countersWrapper {
      display: flex;
      justify-content: space-around;
      font-size: 18px;

      @media screen and (max-width: 500px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
