.logoLink {
  position: absolute;
  top: 30px;
  left: 30px;

  & .img {
    height: 32px;
  }
}

.container {
  display: flex;
  align-items: center;
  min-height: 700px;
  margin-bottom: 20px;
  background-image: url(https://www.hotel.info/assets/booking/js/b1c8d4823d86d339960e66643f23b68a.jpg);
  background-size: cover;

  & .filter {
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(166, 166, 166);

    & .countersWrapper {
      display: flex;
      justify-content: space-around;
      font-size: 18px;

      @media screen and (max-width: 500px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
