.reviews {
  border-bottom: 2px solid rgba(99, 97, 97, 0.13);
  border-right: 2px solid rgba(99, 97, 97, 0.13);
  padding-top: 10px;
}

.box {
  display: inline-flex;
}
.badge {
  font-weight: bold;
  color: black;
}
.rating {
  color: rgb(255, 144, 51);
  font-weight: bold;
  padding-left: 10px;
}
.reviewDate {
  color: grey;
  text-align: right;
}
.reviewerName {
  font-weight: bold;
  color: rgb(105, 103, 103);
  padding-top: 10px;
}
.description {
  color: grey;
  padding-bottom: 10px;
  padding-top: 10px;
}
