.listComponentContainer {
  display: flex;
  text-align: left;
  font-size: large;
  padding: 1%;
}

@media (min-width: 992px) {
  .listComponent {
    display: table;
    width: 100%;
    margin-top: 0;
    padding: 20px 0;
    border: 0 none;
    border-bottom: 1px solid #e3e3e3;
  }
}

@media (min-width: 768px) {
  .listComponent {
    width: 100%;
    margin-top: 0;
    padding: 15px 0;
    border: 0 none;
    display: table;
    border-bottom: 1px solid #e3e3e3;
  }
}

.listComponent {
  margin-top: 10px;
  border: 1px solid #fffbfb;
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 1%;
  & img {
    width: 100%;
  }
}
.listComponentContainerReviews {
  border-left: 2px solid rgba(128, 128, 128, 0.384);
}
.listComponentButton {
  width: 60%;
  height: 5vh;
  color: #fffbfb;
  background-color: rgb(255, 144, 51);
  border: 1px solid rgb(255, 144, 51);
  float: right;
  margin-top: 40%;
}
