// .sortByHotelDeSuggestion {
//   display: flex;
//   justify-content: right;
// }

// .hotelListSuggestion {
//   width: 70%;
//   display: flex;
// }

.sortBy {
  display: flex;
  background-color: rgb(255, 255, 255);
  margin-top: 0.8%;
  height: 50px;
  text-align: center;
  border: 0.5px solid rgba(26, 25, 25, 0.322);
}

// .hotelDeSuggestion {
//   background-color: rgb(255, 255, 255);
// }
