.container {
  margin-top: 20px;
  padding-bottom: 40px;

  & .breadcrumbs {
    margin: 0 0 10px 20px;
    font-size: 18px;

    & a {
      &:hover {
        text-decoration: none;
      }

      &:visited {
        color: #000;
      }
    }
  }

  & .hotelListView {
    display: flex;
    align-items: flex-start;
    column-gap: 20px;
    background-color: rgb(242, 242, 242);
  }

  & .desktopFilters {
    @media screen and (max-width: 860px) {
      display: none;
    }
  }

  & .mobileFilters {
    @media screen and (min-width: 861px) {
      display: none;
    }

    & .button {
      position: fixed;
      left: calc(50% - 70px);
      bottom: 20px;
      width: 140px;
      height: 50px;
      font-size: 18px;
      color: #fff;
      border: 1px solid gray;
      background-color: #009ae3;
      cursor: pointer;

      &:hover {
        background-color: #0098df;
      }
    }
  }
}
